<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MCK7VL3');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ entry.title }}</title>

    <link rel="stylesheet" href="{{ conf.www_assets }}/css/core.css">
    <link rel="stylesheet" href="{{ conf.www_assets }}/css/getstarted.css">
    <link rel="shortcut icon" href="{{ conf.www_assets }}/css/images/saltStack_favIcon_32x32.png">

</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MCK7VL3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% include '_includes/navbar.tmpl' %}

<div class="jumbotron">

        <div class="row row-centered">
            <div class="col-md-9 col-centered">
        <h1>SaltStack Get Started</h1>
        <p>These Get Started tutorials walk you through the basics of getting SaltStack up and running.</p>


        </div>
            </div>
                <!--<div class="gs-top-nav">
                    {% if entry.parent %}<a href="{{ conf.www_root }}/getstarted/index.html">Back to Get Started <i class="glyphicon glyphicon-arrow-left"></i></a>
                    {% else %}<a href="{{ conf.www_root }}">Back to Documentation <i class="glyphicon glyphicon-arrow-left"></i></a>
                    {% endif %}
                </div>-->
    </div>

{% set colwidth = entry.bodycolwidth or 10 %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>


    <div class="row">
        <div class="col-md-{{ (12 - colwidth) // 2 }}"></div>
        <div class="col-md-{{ colwidth }}">

            {{ entry.content }}

            {% if entry.parent %}
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <a href="{{ conf.www_root }}/{{ entry.parent.url }}">
                        <button type="button" class="btn btn-primary btn-right">
                            <span class="glyphicon glyphicon-chevron-left"></span> Back to {{ entry.parent.title }}
                        </button>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-{{ (12 - colwidth) // 2 }}"></div>
    </div>
    {% include '_includes/footer.tmpl' %}
</div>

<script type="text/javascript" src="{{ conf.www_assets }}/js/core-min.js"></script>
{% if entry.modals %}
{% include '_includes/modals.tmpl' %}
{% endif %}

{% if entry.imgmap %}
<script type="text/javascript" src="{{ conf.www_assets }}/js/imgmap-min.js"></script>
{% endif %}

{% include '_includes/analytics.tmpl' %}

</body>
</html>
